@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #2B2840;
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 0;
    height: 3em;
    background: #3f94d4;
    background: -moz-linear-gradient(left, #2B2840  0%, #3F3A75  100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #2B2840 ), color-stop(100%, #3F3A75 ));
    background: -webkit-linear-gradient(left, #2B2840  0%, #3F3A75  100%);
    background: -o-linear-gradient(left, #2B2840  0%, #3F3A75  100%);
    background: -ms-linear-gradient(left, #2B2840  0%, #3F3A75  100%);
    background: linear-gradient(to right, #2B2840  0%,#3F3A75  100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$header-gradient-primary-color, endColorstr=$header-gradient-secondary-color, GradientType=1 );
}

h1 {
    text-transform: uppercase;
    text-shadow: 1px 3px 12px rgba(30, 30, 30, 0.86);
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}

.page {
    margin: auto;
    width: 800px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.container {
    background: #fff;
    color: #333;
    padding: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 24px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 24px 0px rgba(50, 50, 50, 1);
}

.division {
    margin: 15px 0;
    border: 1px solid #eee;
}

.sub-item {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.sub-item:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #ccc;
    float: left;
    position: relative;
    top: 8px;
    margin-right: 8px;
}

.copyrith {
    text-align: center;
    font-size: 13px;
    position: relative;
    top: 9px;
}

a {
    font-weight: 700;
    color: #39CE91;
    text-decoration: none;
}

.btn-show-locations {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px 7px 10px;
    background: #39CE91;
    color: #fff;
    border-radius: 5px;
    margin-top: 17px;
    margin-bottom: 10px;
}

/* Google Maps */
#map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    float: left;
    text-align: left;
    padding-top: 20px;
}
#directions-panel {
    margin-top: 20px;
    background-color: #FFEE77;
    padding: 10px;
}